* {
    font-family: 'Open Sans';
    text-transform: uppercase;
}

@media screen and (min-width: 769px) {
    body {
        background-color: #60a9ff;
    }
}

.pricing-table {
    display: flex;
    text-align: center;
    background-color: white;
    margin: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    border: thin solid white;
    border-radius: 10px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .pricing-table {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
}

.pricing-features {
    list-style-type: none;
    padding-left: 0px;
}

.pricing-plan {
    color: #60a9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1%;
    min-width: 0px;
    min-height: 0px;
}

@media (min-width: 576px){
    .pricing-plan {
        border-left: thin solid #E1F1FF;
    }
    
    .pricing-plan:first-of-type {
        border: none;
    }
}

.pricing-plan {
    border-top: thin solid #E1F1FF;
}

.pricing-plan:first-of-type {
    border: none;
}

.pricing-header {
    color: grey;
}

.pricing-button {
    border-width: thin;
    border-color: #60a9ff;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    text-decoration: none;
    color: #60a9ff;
}

.is-featured {
    background-color: #60a9ff;
    color: white;
}

.pricing-price {
    font-weight: bold;
    font-size: xx-large;
}

.pricing-img {
    transform: scale(0.8);
}

li {
    border-bottom: thin solid #E1F1FF;
}

li:first-of-type {
    border-top: thin solid #E1F1FF;
}